In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from pathlib import Path
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
mort_data=pd.read_csv(Path('C:/Users/evere/Downloads/historicalweeklydata.csv'),header=6, index_col="Week", parse_dates=True)
mort_data.tail()

,FRM,points,FRM.1,points.1,ARM,points.2,margin,spread,Unnamed: 9
Week,,,,,,,,,
2020-12-03,2.71,0.7,2.26,0.6,2.86,0.3,2.75,-0.15,NaN
2020-12-10,2.71,0.7,2.26,0.6,2.79,0.3,2.75,-0.08,NaN
2020-12-17,2.67,0.7,2.21,0.6,2.79,0.3,2.75,-0.12,NaN
2020-12-24,2.66,0.7,2.19,0.5,2.79,0.2,2.75,-0.13,NaN
2020-12-31,2.67,0.7,2.17,0.7,2.71,0.4,2.75,-0.04,NaN

In [3]:
mort_data.drop(columns=["points", "points.1", "points.2", "spread", "Unnamed: 9"], inplace=True)
mort_data.tail()

             FRM  FRM.1   ARM  margin
Week
2020-12-03  2.71   2.26  2.86    2.75
2020-12-10  2.71   2.26  2.79    2.75
2020-12-17  2.67   2.21  2.79    2.75
2020-12-24  2.66   2.19  2.79    2.75
2020-12-31  2.67   2.17  2.71    2.75

In [4]:
mort_data.dropna(inplace=True)
mort_data

             FRM  FRM.1   ARM  margin
Week
2005-01-06  5.77   5.21  5.03    2.78
2005-01-13  5.74   5.19  5.05    2.79
2005-01-20  5.67   5.15  5.05    2.79
2005-01-27  5.66   5.14  5.02    2.79
2005-02-03  5.63   5.14  5.00    2.79
...          ...    ...   ...     ...
2020-12-03  2.71   2.26  2.86    2.75
2020-12-10  2.71   2.26  2.79    2.75
2020-12-17  2.67   2.21  2.79    2.75
2020-12-24  2.66   2.19  2.79    2.75
2020-12-31  2.67   2.17  2.71    2.75

[835 rows x 4 columns]

In [5]:
new_mort_data=pd.read_csv(('C:/Users/evere/Downloads/historicalweeklydata21.csv'),skiprows=2, index_col="Week", parse_dates=True)
new_mort_data.head()

,FRM,points,FRM.1,points.1,ARM,points.2,margin,spread,Unnamed: 9
Week,,,,,,,,,
2021-01-07,2.65,0.7,2.16,0.6,2.75,0.3,2.75,-0.10,NaN
2021-01-14,2.79,0.7,2.23,0.7,3.12,0.4,2.75,-0.33,NaN
2021-01-21,2.77,0.7,2.21,0.6,2.80,0.4,2.75,-0.03,NaN
2021-01-28,2.73,0.7,2.20,0.6,2.80,0.3,2.75,-0.07,NaN
2021-02-04,2.73,0.7,2.21,0.6,2.78,0.3,2.75,-0.05,NaN

In [6]:
new_mort_data.drop(columns=["points", "points.1", "points.2", "spread", "Unnamed: 9"], inplace=True)
new_mort_data

             FRM  FRM.1   ARM  margin
Week
2021-01-07  2.65   2.16  2.75    2.75
2021-01-14  2.79   2.23  3.12    2.75
2021-01-21  2.77   2.21  2.80    2.75
2021-01-28  2.73   2.20  2.80    2.75
2021-02-04  2.73   2.21  2.78    2.75
2021-02-11  2.73   2.19  2.79    2.75
2021-02-18  2.81   2.21  2.77    2.75
2021-02-25  2.97   2.34  2.99    2.75
2021-03-04  3.02   2.34  2.73    2.75
2021-03-11  3.05   2.38  2.77    2.75
2021-03-18  3.09   2.40  2.79    2.75
2021-03-25  3.17   2.45  2.84    2.75
2021-04-01  3.18   2.45  2.84    2.75
2021-04-08  3.13   2.42  2.92    2.75
2021-04-15  3.04   2.35  2.80    2.75
2021-04-22  2.97   2.29  2.83    2.75
2021-04-29  2.98   2.31  2.64    2.75
2021-05-06  2.96   2.30  2.70    2.75
2021-05-13  2.94   2.26  2.59    2.75
2021-05-20  3.00   2.29  2.59    2.75
2021-05-27  2.95   2.27  2.59    2.75
2021-06-03  2.99   2.27  2.64    2.75
2021-06-10  2.96   2.23  2.55    2.75
2021-06-17  2.93   2.24  2.52    2.75
2021-06-24  3.02   2.34  2.53    2.75
2021-07-01  2.98   2.26  2.54    2.75
2021-07-08  2.90   2.20  2.52    2.75
2021-07-15  2.88   2.22  2.47    2.75
2021-07-22  2.78   2.12  2.49    2.75
2021-07-29  2.80   2.10  2.45    2.75
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN
NaT          NaN    NaN   NaN     NaN

In [7]:
new_mort_data.dtypes

FRM       float64
FRM.1     float64
ARM       float64
margin    float64
dtype: object

In [8]:
mort_data = mort_data.append(new_mort_data, sort=True)
mort_data

             ARM   FRM  FRM.1  margin
Week
2005-01-06  5.03  5.77   5.21    2.78
2005-01-13  5.05  5.74   5.19    2.79
2005-01-20  5.05  5.67   5.15    2.79
2005-01-27  5.02  5.66   5.14    2.79
2005-02-03  5.00  5.63   5.14    2.79
...          ...   ...    ...     ...
NaT          NaN   NaN    NaN     NaN
NaT          NaN   NaN    NaN     NaN
NaT          NaN   NaN    NaN     NaN
NaT          NaN   NaN    NaN     NaN
NaT          NaN   NaN    NaN     NaN

[882 rows x 4 columns]

In [9]:
mort_data.dropna(inplace=True)
mort_data

             ARM   FRM  FRM.1  margin
Week
2005-01-06  5.03  5.77   5.21    2.78
2005-01-13  5.05  5.74   5.19    2.79
2005-01-20  5.05  5.67   5.15    2.79
2005-01-27  5.02  5.66   5.14    2.79
2005-02-03  5.00  5.63   5.14    2.79
...          ...   ...    ...     ...
2021-07-01  2.54  2.98   2.26    2.75
2021-07-08  2.52  2.90   2.20    2.75
2021-07-15  2.47  2.88   2.22    2.75
2021-07-22  2.49  2.78   2.12    2.75
2021-07-29  2.45  2.80   2.10    2.75

[865 rows x 4 columns]

In [10]:
mort_data.tail()

             ARM   FRM  FRM.1  margin
Week
2021-07-01  2.54  2.98   2.26    2.75
2021-07-08  2.52  2.90   2.20    2.75
2021-07-15  2.47  2.88   2.22    2.75
2021-07-22  2.49  2.78   2.12    2.75
2021-07-29  2.45  2.80   2.10    2.75

In [11]:
mort_data

             ARM   FRM  FRM.1  margin
Week
2005-01-06  5.03  5.77   5.21    2.78
2005-01-13  5.05  5.74   5.19    2.79
2005-01-20  5.05  5.67   5.15    2.79
2005-01-27  5.02  5.66   5.14    2.79
2005-02-03  5.00  5.63   5.14    2.79
...          ...   ...    ...     ...
2021-07-01  2.54  2.98   2.26    2.75
2021-07-08  2.52  2.90   2.20    2.75
2021-07-15  2.47  2.88   2.22    2.75
2021-07-22  2.49  2.78   2.12    2.75
2021-07-29  2.45  2.80   2.10    2.75

[865 rows x 4 columns]

In [12]:
con_mort_data = mort_data.groupby(pd.Grouper(freq="M")).mean()

In [13]:
con_mort_data.reset_index(inplace=True)

In [14]:
con_mort_data["Week"] = con_mort_data["Week"].apply(lambda dt: dt.replace(day=1))

In [15]:
con_mort_data.set_index("Week", inplace=True)

In [16]:
con_mort_data

               ARM     FRM   FRM.1  margin
Week
2005-01-01  5.0375  5.7100  5.1725  2.7875
2005-02-01  5.0225  5.6275  5.1500  2.7900
2005-03-01  5.2960  5.9280  5.4640  2.7840
2005-04-01  5.2650  5.8550  5.4075  2.7850
2005-05-01  5.1275  5.7200  5.2800  2.7900
...            ...     ...     ...     ...
2021-03-01  2.7825  3.0825  2.3925  2.7500
2021-04-01  2.8060  3.0600  2.3640  2.7500
2021-05-01  2.6175  2.9625  2.2800  2.7500
2021-06-01  2.5600  2.9750  2.2700  2.7500
2021-07-01  2.4940  2.8680  2.1800  2.7500

[199 rows x 4 columns]

In [17]:
df = pd.read_csv(Path('C:/Users/evere/Downloads/sold_cust.csv'),header=4, index_col="Period", parse_dates=True)
df.head()

            Implicit US  North  Mid-West  South   West for sale  Supply2
Period
1997-01-01         88.2   76.4      75.4   93.4   93.1     (NA)    108.7
1997-02-01        103.4  107.0      97.1  103.4  107.6     (NA)     95.6
1997-03-01        117.0  102.3     124.5  116.4  118.2     (NA)     84.7
1997-04-01        112.9  109.1     123.3  110.2  114.4     (NA)     87.0
1997-05-01        112.1  110.7     117.5  108.9  112.0     (NA)     88.1

In [18]:
homes_sold = df[['Implicit US']]
homes_sold

            Implicit US
Period
1997-01-01         88.2
1997-02-01        103.4
1997-03-01        117.0
1997-04-01        112.9
1997-05-01        112.1
...                 ...
NaT                 NaN
NaT                 NaN
NaT                 NaN
NaT                 NaN
NaT                 NaN

[302 rows x 1 columns]

In [19]:
homes_sold.dropna(inplace=True)

<ipython-input-19-d381409a1c86>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  homes_sold.dropna(inplace=True)

In [20]:
homes_sold

            Implicit US
Period
1997-01-01         88.2
1997-02-01        103.4
1997-03-01        117.0
1997-04-01        112.9
1997-05-01        112.1
...                 ...
2021-02-01        102.1
2021-03-01        114.1
2021-04-01        111.6
2021-05-01        107.7
2021-06-01        106.5

[294 rows x 1 columns]

In [21]:
homes_sold = homes_sold.loc[homes_sold.index > "2004-12-01"]

In [22]:
homes_sold

            Implicit US
Period
2005-01-01         91.8
2005-02-01         99.2
2005-03-01        114.8
2005-04-01        110.5
2005-05-01        112.0
...                 ...
2021-02-01        102.1
2021-03-01        114.1
2021-04-01        111.6
2021-05-01        107.7
2021-06-01        106.5

[198 rows x 1 columns]

In [23]:
combined_df = pd.concat(([con_mort_data, homes_sold["Implicit US"]]), axis="columns", ignore_index=True, join="outer")
combined_df

                 0       1       2       3      4
2005-01-01  5.0375  5.7100  5.1725  2.7875   91.8
2005-02-01  5.0225  5.6275  5.1500  2.7900   99.2
2005-03-01  5.2960  5.9280  5.4640  2.7840  114.8
2005-04-01  5.2650  5.8550  5.4075  2.7850  110.5
2005-05-01  5.1275  5.7200  5.2800  2.7900  112.0
...            ...     ...     ...     ...    ...
2021-03-01  2.7825  3.0825  2.3925  2.7500  114.1
2021-04-01  2.8060  3.0600  2.3640  2.7500  111.6
2021-05-01  2.6175  2.9625  2.2800  2.7500  107.7
2021-06-01  2.5600  2.9750  2.2700  2.7500  106.5
2021-07-01  2.4940  2.8680  2.1800  2.7500    NaN

[199 rows x 5 columns]